.main-container{
    background: #a2d2ff;
    height: 850px;
}

.form-content{
    background: turquoise;
    height: 570px;
    width: 600px;
    padding: 30px;
    margin: auto;
    margin-top: 120px !important;

}
.login-btn{
    cursor: pointer;
    color: yellow;
}
.create-btn{
    cursor: pointer;
    color: rgb(128, 0, 122);
}
.forgot-password{
    margin-left: 250px;
}